
main .qa-list {
  margin: 2rem auto;
}

.qa-list dl {
  position: relative;
  margin: 0;
  padding: 28px 80px 28px 30px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.qa-list dl:first-child {
  border-top: 1px solid #000;
}
.qa-list dl::before {
  position: absolute;
  top: 35px;
  right: 35px;
  display: block;
  width: 7px;
  height: 7px;
  margin: auto;
  content: '';
  transform: rotate(135deg);
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}
.qa-list .open::before {
  transform: rotate(-45deg);
}
.qa-list dl dt {
  position: relative;
  margin: 0;
  padding: 0 0 0 50px;
  font-weight: bold;
  font-size: 20px;
}
.qa-list dl dt::before {
  font-size: 22px;
  line-height: 1;
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  content: 'Q.';
  color: #3285bf;
}
.qa-list dl dd::before {
  font-size: 22px;
  line-height: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  display: block;
  content: 'A.';
  font-weight: bold;
  color: #3285bf;
}
.qa-list dl dd {
  position: relative;
  display: none;
  height: auto;
  margin: 20px 0 0;
  padding: 0 0 0 50px;
}
.qa-list dl dd p {
  margin: 30px 0 0;
}
.qa-list dl dd p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .qa-list dl {
    position: relative;
    padding: 15px 40px 15px 10px;
  }
  .qa-list dl::before {
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
  }
  .qa-list dl dt {
    padding: 0 0 0 30px;
    font-size: 14px;
  }
  .qa-list dl dt::before {
    font-size: 14px;
    top: 3px;
    left: 5px;
    content: 'Q.';
  }
  .qa-list dl dd::before {
    font-size: 14px;
    top: 5px;
    left: 5px;
    content: 'A.';
  }
  .qa-list dl dd {
    margin: 10px 0 0;
    padding: 0 0 0 30px;
    font-size: 14px;
  }
  .qa-list dl dd p {
    margin: 30px 0 0;
  }
  .qa-list dl dd p:first-child {
    margin-top: 0;
  }
}
