:root {
/*
  --red: #f06;
  --green: #3A3;
  --st_green: #1A1;
*/
  --red: #f90;
  --green: #55ACEE;
  --st_green: #11ACAA;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: 'Potta One', cursive;
}

/* header_wrapper*/
.header_wrapper {
  background: var(--green);
}
/* header */
header {
  background-color: var(--green);
  text-align: center;
}
header a {
  display: block;
  color: #000;
  text-decoration: none;
}
/* header */

/* nav */
nav {
  position: sticky;
  top: 0;
  background: var(--green);
}
nav ul {
  display: flex;
  max-width: 1000px;
  margin: auto;
}
nav ul li {
  list-style-type: none;
  text-align: center;
  flex: auto;
}
nav ul li a {
  display: block;
  color: #000;
  text-decoration: none;
}
nav ul li a:hover {
  background: var(--red);
}
/* nav */

/* main */
main {
  max-width: 1000px;
  margin: auto;
}
/* main */


/*footer*/
footer {
  text-align: center;
  background-color: var(--green);
}
#footer_content {
  padding: 1rem;
}
#footer_content small {
  padding-bottom: 1rem;
}
/*footer*/

/* scroll_top */
#scroll_top {
  position: fixed;
  right: 1rem;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--green);
  transition: .3s;
  cursor: pointer;
}
#scroll_top:hover {
  background-color: var(--red);
}
#scroll_top i {
  padding: 15px 17px;
}
/* scroll_top */


@media screen and (max-width: 767px) {

}