body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background: #f06;
}
header h1 {
  margin: 0;
  padding: 0;
  flex: auto;
  color: #fff;
  margin: 20px;
}
header a {
  background: #fff;
  color: #f06;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  justify-self: flex-end;
  align-self: center;
  text-decoration: none;
  box-sizing: border-box;
  border: 3px solid #fff;
}
header a:hover {
  color: #fff;
  background: #f06;
}

/* main */
main {
  position: relative;
  overflow-x: hidden;
  margin: 1rem auto;
  border: 1px solid #000;
  box-sizing: border-box;
  max-width: 800px;
}
main div {
  padding: 2rem;
}
main div a {
  margin: auto;
  text-align: center;
  display: block;
  width: 100px;
  line-height: 100px;
  background: #f06;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  transition: .3s;
  box-sizing: border-box;
  border: 3px solid #f06;
}
main #box1 a:hover {
  color: #f06;
  background: #fff;
}
main #box2 img {
  width: 100px;
}

/* ローディング画面 */
#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #f0f;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* ページ遷移用 */
#page-animate::before {
  content: '';
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #f06;
  z-index: 9999;
  pointer-events: none;
  right: 0;
  -webkit-transition: top 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
#page-animate::after {
  content: '';
  position: fixed;
  bottom: 100%;
  width: 100%;
  height: 100%;
  background-color: #f06;
  z-index: 9999;
  pointer-events: none;
  left: 0;
  -webkit-transition: bottom 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: bottom 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
#page-animate.is-slide-in::before {
  top: 0;
}
#page-animate.is-slide::after {
  bottom: 0;
}
